<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.yealink.dao.ServiceDao">

    <select id="selectById" resultType="com.yealink.entities.Service">
        select * from service where id = #{id}
    </select>
    <insert id="insert" parameterType="Service">
        insert into service(id, service, address, port, node_id) values(#{id},#{service},#{address},#{port} ,#{nodeId})
    </insert>
    <select id="selectAllHealthyService" resultType="com.yealink.entities.Service">
        select * from service where health = 1
    </select>
    <select id="selectAll" resultType="com.yealink.entities.Service">
        select * from service
    </select>
</mapper>
